
.group-list {
    padding-left: 0;
    list-style-type: none;
}

.left {
    float: left;
}
.center {
    
top: 50%;
margin-left: 15%;
}
.right {
    float: right;
}

.required{
    color:red; 
    font-weight:bold;
}

.uf{
   width:110px;
   float: right;
   padding-right:16px

}

.city{
   width:600px;
   padding-left: 38PX;
}

.codigo{
   width:255px;
   float: left;
   padding-left: 18PX;
   
}

.nome{
   width:330px;
   float: right;
   padding-right:16px

}


