

label, input, button, select, textarea {
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
}


.row {
    padding: 40px 0;
}

[class*="span"] {
    float: left;
    min-height: 1px;
    margin-left: 30px;
}

.span5 {
    width: 470px;
}

.span6 {
    width: 570px;
}

.offset1 {
    margin-left: 100px;
}

form {
    margin: 0 0 20px;
}

.clear-form {
    max-width: 380px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.1);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.clear-form .form-heading, .clear-form .form-footer {
    padding: 15px 35px;
    margin-bottom: 0;
}

.clear-form .form-body {
    padding: 0 35px;
}

.clear-form .form-body .body-split {
    margin-top: 20px;
    display: block;
}

.clear-form .form-body .body-split:before, .clear-form .form-body .body-split:after {
    display: table;
    line-height: 0;
    content: "";
}

.clear-form .form-body .body-split .left-col {
    float: left;
}

.clear-form .form-body .body-split .right-col {
    float: right;
}

.clear-form .form-body .body-split .left-col .checkbox {
    margin-top: 6px;
}

.clear {
    clear: both;
}

.clear-form .form-footer hr {
    margin: 5px 0 20px;
}

.clear-form .form-footer p {
    margin: 20px 0px 0px;
}

p.center {
    text-align: center;
}

.jumbotron {
    padding-top: 36px;
    padding-bottom: 36px;
}
